.editor-wrapper {
  position: fixed;
  width: 60vw;
  top: 0;
  bottom: 0;
  right: -100%;
  transition: right 300ms ease-in-out;
  z-index: 1;

  &--open {
    right: 0;
    box-shadow: 0 0 8px 0 black;
  }
}

.editor-content {
  max-height: 100vh;
}

.editor-card {
  &__header {
    width: 100%;
    display: flex;
    > *:not(:last-child) {
      margin-right: 8px;
    }
  }
}
