.project-editor {
  &__timeline-list {
    position: relative;
  }
  &__add-timeline-button {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.editor-modal {
  width: 40rem;

  .modal-body {
    height: 50rem;
  }
}

.editor-view {
  .accordion-header {
    select.level-item {
      flex: 1;
    }
  }
  .accordion-body {
    transform: scaleY(0);
    height: 0;
    transition: transform 400ms ease-out, height 400ms;
    transform-origin: top;
  }
  input:checked.accordion-toggle {
    background-color: yellow;
    & ~ .accordion-body {
      transform: scaleY(1);
      box-sizing: border-box;
      height: 100%;
    }
  }
}
