.editor-wrapper {
  position: fixed;
  width: 60vw;
  top: 0;
  bottom: 0;
  right: -100%;
  transition: right 300ms ease-in-out;
  z-index: 1;

  &--open {
    right: 0;
    box-shadow: 0 0 8px 0 black;
  }
}

.editor-content {
  max-height: 100vh;
}

.editor-card {
  &__header {
    width: 100%;
    display: flex;
    > *:not(:last-child) {
      margin-right: 8px;
    }
  }
}

.editor-selection {
  display: flex;
  height: 30vh;
  overflow: hidden;
}

.picker {
  flex: 1;
  transition: all 300ms ease-out;
  overflow-y: auto;
  color: #444;
  background-color: white;
  opacity: 70%;
  position: relative;

  button {
    position: absolute;
    bottom: 6px;
    right: 6px;
  }

  &--active {
    flex: 1.5;
    opacity: 100%;
  }

  &__item-list {
    padding-inline-start: 0;
  }
}

.breadcrumbs {
  font-style: italic;
  &-separator {
    margin: 0 6px;
  }
}
