$col-width-week: 60px;
$col-width-project-header: 200px;
$color-bg-today: beige;
$todo-item-size: 25px;

.timeline-view {
  overflow: auto;
  position: relative;
}

.timeline {
  border-collapse: collapse;
  table-layout: fixed;
  width: 1px;
}

.timeline-view--week {
  .project-timeline__item {
    width: $col-width-week;
  }

  .timeline-header__item {
    width: $col-width-week;
  }
  .timeline-header__item:first-of-type {
    width: $col-width-project-header;
  }
}

.timeline-header {
  &__item {
    white-space: nowrap;
    &--section-start {
      border-left: 1px solid lightgrey;
    }
    &--today {
      background-color: $color-bg-today;
    }
  }
}

.project-timeline {
  &__project-header {
    vertical-align: top;
    width: $col-width-project-header;
    position: sticky;
    left: 0;
    background-color: white;
    z-index: 1;

    &__title {
      border-radius: 6px;
      padding: 5px 10px;
      &:hover {
        transition: background-color 300ms ease-in-out;
        background-color: transparentize(lightgrey, 0.5);
      }
    }
  }
  &__item {
    &--today {
      background-color: $color-bg-today;
    }
  }
}

@mixin background-line($left: 50%, $right: 50%) {
  position: absolute;
  content: "";
  left: $left;
  right: $right;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px 0;
}

.project-timeline__item {
  border-left: 1px solid lightgrey;
  position: relative;

  &__indicator {
    padding: 5px 0;
  }

  &--start::after {
    @include background-line($right: 0);
    z-index: -1;
  }
  &--end::before {
    @include background-line($left: 0);
  }

  .timeline-event {
    width: $todo-item-size;
    height: $todo-item-size;
    border: 2px solid transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

    &__container {
      position: relative;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    &--done {
    }
  }
}
