$col-width-week: 60px;
$col-width-project-header: 120px;
$color-bg-today: beige;

.timeline-view {
  overflow: auto;
  position: relative;
}

.timeline {
  border-collapse: collapse;
  table-layout: fixed;
  width: 1px;
}

.timeline-view--week {
  .project-timeline__item {
    width: $col-width-week;
  }

  .timeline-header__item {
    width: $col-width-week;
  }
  .timeline-header__item:first-of-type {
    width: $col-width-project-header;
  }
}

.timeline-header {
  &__item {
    white-space: nowrap;
    &--section-start {
      border-left: 1px solid lightgrey;
    }
    &--today {
      background-color: $color-bg-today;
    }
  }
}

.project-timeline {
  &__project-header {
    vertical-align: top;
    width: $col-width-project-header;
    position: sticky;
    left: 0;
    background-color: white;
    z-index: 1;
  }
  &__item {
    &--today {
      background-color: $color-bg-today;
    }
  }
}

.project-timeline__item {
  border-left: 1px solid lightgrey;
  &--active {
  }

  &__indicator {
    padding: 5px 0;
    background-color: red;
  }
}
